@import "../variables";

.about-company {
  margin-bottom: 99px;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 70px;
  }
}

.about-company__image {
  margin-right: 100px;

  object-fit: contain;

  @media (max-width: $tablet-size-max) {
    margin-right: 29px;
    margin-left: -4px;
  }

  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.about-company__container {
  display: grid;

  gap: 100px;
  grid-template-columns: 150px 1fr;

  @media (max-width: $tablet-size-max) {
    gap: 25px;
  }
}

.about-company h2 {
  margin: 0 0 12px;

  font-size: 36px;
  line-height: 51px;
  font-family: $ff-roboto-condensed;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 12px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 14px;

    font-size: 28px;
    line-height: 40px;
  }
}

.about-company p {
  margin: 23px 0 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  font-family: $ff-pt-mono;

  &:first-of-type {
    margin-top: 0;
  }

  @media (max-width: $tablet-size-max) {
    line-height: 21.4px;
  }

  @media (max-width: $mobile-size-max) {
    margin-top: 18px;
    margin-bottom: -3px;

    font-size: 14px;
    line-height: 19px;
  }
}

.about-company__description-text {
  min-width: 970px;
  margin-bottom: 33px;

  @media (max-width: $tablet-size-max) {
    min-width: 495px;
    margin-bottom: 8px;
  }

  @media (max-width: $mobile-size-max) {
    min-width: 270px;
    margin-bottom: 10px;
  }
}

.about-company__description-text span {
  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.about-company__btn {
  padding: 14px 50px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-roboto-condensed;
  color: $color-deep-sky-blue;
  letter-spacing: 0.05em;

  background-color: $color-alice-blue-second;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;

  @media (max-width: $mobile-size-max) {
    padding: 8px 40px 10px;
  }

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: $color-cerulean;

    border: 1px solid $color-cerulean;
  }
}
