@import "../variables.scss";

.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;

  color: $color-default-white;
  text-transform: uppercase;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
