@import "../variables";

.footer {
  min-height: 280px;

  background-color: $color-black-pearl;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  padding: 42px 0;

  @media (max-width: $tablet-size-max) {
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 61px;
  }

  @media (max-width: $mobile-size-max) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 35px 0;
  }
}

.footer__social-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-top: 8px;
  margin-right: 13%;

  @media (max-width: $tablet-size-max) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 7px;
  }

  @media (max-width: $mobile-size-max) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
    padding: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 35px;

  @media (max-width: $tablet-size-max) {
    width: 215px;
    height: 55px;
    margin-right: auto;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 10px;
  }
}

.footer__accordion {
  display: flex;
  flex-direction: row;

  gap: 33px;

  @media (max-width: $tablet-size-max) {
    justify-content: space-between;

    gap: 0;
  }

  @media (max-width: $mobile-size-max) {
    flex-direction: column;

    gap: 0;
  }
}

.footer__accordion-element + .footer__accordion-element,
.footer__accordion-element:first-child {
  @media (max-width: $mobile-size-max) {
    border-top: 1px solid $color-default-white;
  }
}

.footer__accordion-element:last-child {
  @media (max-width: $mobile-size-max) {
    border-bottom: 1px solid $color-default-white;
  }
}

.footer__navigation {
  display: grid;
  min-width: 470px;

  column-count: 2;
  column-gap: 30px;

  grid-auto-flow: column;
  grid-template: repeat(4, 1fr) / repeat(2, minmax(200px, 220px));
  row-gap: 10px;

  @media (max-width: $tablet-size-max) {
    max-height: 220px;

    grid-template: repeat(7, 1fr) / 220px;
    mшт-width: 220px;
  }

  @media (max-width: $mobile-size-max) {
    position: relative;

    align-items: center;
    width: 100%;
    padding: 0 25px 13px;
  }
}

.footer__navigation-link {
  display: inline-block;
  width: fit-content;
  max-width: 220px;
  height: fit-content;
  padding: 0;

  font-size: 16px;
  line-height: 21.6px;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.7;

  &:hover,
  &:focus {
    color: $color-pacific-blue;
  }

  &:active {
    color: $color-picton-blue;
  }
}

.no-js nav {
  @media (max-width: $mobile-size-max) {
    display: flex;
    flex-direction: column;
  }
}

.footer__navigation,
.footer__address {
  position: relative;

  max-width: 336px;
  padding-top: 8px;

  @media (max-width: $tablet-size-max) {
    padding-top: 0;
  }

  @media (max-width: $mobile-size-max) {
    max-width: 100%;
    padding: 0 25px 13px;
  }
}

.footer__btn-accordion {
  margin: 8px 0 24px;
  padding: 0;

  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: none;
  cursor: default;

  user-select: auto;

  @media (max-width: $tablet-size-max) {
    margin-top: 0;
  }

  @media (max-width: $mobile-size-max) {
    position: relative;

    width: 100%;
    margin: 0;
    padding: 20px 25px;

    cursor: pointer;

    user-select: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    right: 25px;

    width: 15px;
    height: 1px;

    background-color: $color-silver;
  }

  &::after {
    transform: rotate(90deg);
  }
}

button::before,
button::after {
  @media (max-width: $desktop-size-max) {
    display: none;
  }

  @media (max-width: $desktop-size-min) {
    display: none;
  }

  @media (max-width: $tablet-size-max) {
    display: none;
  }
}

.no-js button::before,
.no-js button::after {
  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.footer__btn.is-active {
  @media (max-width: $mobile-size-max) {
    padding-bottom: 15px;

    cursor: pointer;

    &::after {
      display: none;
    }
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 345px;
  margin-left: auto;

  font-style: normal;

  @media (max-width: $tablet-size-max) {
    min-width: 320px;
    margin-left: auto;
    padding-bottom: 13px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      width: calc(100% + 50px);
      height: 1px;
      margin: 0 -25px;

      background-color: $color-alice-blue;
      opacity: 0.7;
    }
  }
}

.footer__location {
  display: block;
  margin-bottom: 5px;

  @media (max-width: $mobile-size-max) {
    margin-bottom: 15px;
  }

  &:hover,
  &:focus {
    background-color: $color-pacific-blue;
  }

  &:active {
    background-color: $color-picton-blue;
  }
}

.footer__phone {
  padding: 5px 0;
}

.footer__location,
.footer__phone {
  font-size: 16px;
  line-height: 21px;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.7;

  @media (max-width: $mobile-size-max) {
    font-size: 14px;
    line-height: 19px;
  }
}
