@import "../variables";

.footer {
  min-height: 280px;

  background-color: $color-black-pearl;
}

.footer__container {
  display: flex;
  max-width: 1320px;
  height: 100%;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 40px;

  @media (max-width: $tablet-size-max) {
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 61px;
  }

  @media (max-width: $mobile-size-max) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 35px 0;
  }
}

.footer__social-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-top: 8px;
  margin-right: 13%;

  @media (max-width: $tablet-size-max) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 7px;
  }

  @media (max-width: $mobile-size-max) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 35px;

  @media (max-width: $tablet-size-max) {
    width: 215px;
    height: 55px;
    margin-right: auto;
  }

  @media (max-width: $mobile-size-max) {
    margin: 0;
    margin-bottom: 10px;
  }
}

.footer__accordion {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet-size-max) {
    justify-content: space-between;

    gap: 0;
  }

  @media (max-width: $mobile-size-max) {
    position: relative;

    flex-direction: column;
    width: 100%;

    gap: 0;
  }
}

.footer__accordion-element + .footer__accordion-element,
.footer__accordion-element:first-child {
  @media (max-width: $mobile-size-max) {
    margin-right: -25px;
    margin-left: -25px;

    border-top: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__accordion-element:last-child {
  @media (max-width: $mobile-size-max) {
    margin-right: -25px;
    margin-left: -25px;

    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__navigation {
  min-width: 470px;
  min-height: 130px;
  margin-right: 30px;
  margin-left: 0;

  column-count: 2;
  column-fill: auto;
  column-gap: 6%;
  column-width: 220px;

  &::after {
    content: "";

    display: block;
    margin: 0;
    padding: 0;

    color: transparent;
  }

  @media (max-width: $tablet-size-max) {
    min-width: 220px;
    max-height: 230px;
    margin-right: 128px;

    column-count: 1;
  }

  @media (max-width: $mobile-size-max) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 25px;
    padding: 0 25px 13px;
  }
}

.footer__navigation-link {
  display: block;
  max-width: 220px;
  padding: 4px 0;

  font-size: 16px;
  line-height: 21.6px;
  font-family: $ff-pt-mono;
  color: $color-default-white;

  opacity: 0.7;

  &:hover,
  &:focus {
    color: $color-pacific-blue;
  }

  &:active {
    color: $color-picton-blue;
  }
}

.footer__navigation-link--first-column {
  break-before: avoid;
}

.no-js nav {
  @media (max-width: $mobile-size-max) {
    display: flex;
    flex-direction: column;
  }
}

.footer__btn-accordion {
  margin: 8px 0 24px;
  padding: 0;

  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: none;
  cursor: default;

  user-select: auto;

  @media (max-width: $tablet-size-max) {
    margin-top: 0;
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-size-max) {
    position: relative;

    display: block;
    width: 100%;
    min-width: 270px;
    margin: 0;
    padding: 18px 176px 21px 24px;

    text-align: left;

    cursor: pointer;

    user-select: none;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.3;
    }

    &:disabled {
      opacity: 0.5;

      pointer-events: none;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    right: 25px;

    width: 15px;
    height: 1px;

    background-color: $color-alice-blue;
    transform: translateY(-50%);

    transition: 0.3s transform;
  }

  &::after {
    transform: rotate(90deg);
  }
}

button::before,
button::after {
  @media (max-width: $desktop-size-max) {
    display: none;
  }

  @media (max-width: $desktop-size-min) {
    display: none;
  }

  @media (max-width: $tablet-size-max) {
    display: none;
  }

  @media (max-width: $mobile-size-max) {
    display: block;
  }
}

.no-js button::before,
.no-js button::after {
  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.footer__accordion-element.is-active button {
  @media (max-width: $mobile-size-max) {
    padding-bottom: 15px;

    cursor: pointer;

    &::after {
      display: none;
    }
  }
}

.footer__address {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: 345px;
  margin: 0;
  margin-left: auto;
  padding-top: 8px;

  font-style: normal;

  @media (max-width: $tablet-size-max) {
    min-width: 345px;
    margin-top: -2px;
    margin-left: auto;
    padding-bottom: 13px;
  }

  @media (max-width: $mobile-size-max) {
    min-width: 270px;
    margin: 0;
    margin-bottom: 35px;
  }
}

.footer__location,
.footer__phone {
  font-weight: 400;
  font-size: 16px;
  color: $color-default-white;

  opacity: 0.7;

  @media (max-width: $mobile-size-max) {
    margin-top: -1px;
    margin-left: 25px;

    font-size: 14px;
    line-height: 19px;
  }
}

.footer__location {
  display: block;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;
  font-family: $ff-pt-mono;

  @media (max-width: $mobile-size-max) {
    max-width: 270px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 18.9px;
  }
}

.footer__phone {
  padding: 2px 0;

  line-height: 25px;
  font-family: $ff-pt-mono;

  @media (max-width: $mobile-size-max) {
    padding-bottom: 5px;
  }
}
