@import "../variables";

.form {
  color: $color-default-white;

  transform: translateX(-10px);

  @media (max-width: $tablet-size-max) {
    transform: none;
  }
}

.form__heading-wrapper {
  h2 {
    margin: 0;
    margin-bottom: 12px;

    font-size: 36px;
    line-height: 51px;

    transform: translateX(-5px);

    @media (max-width: $tablet-size-max) {
      margin-bottom: 6px;

      transform: none;
    }

    @media (max-width: $mobile-size-max) {
      margin-bottom: 9px;

      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 35px;

    @media (max-width: $tablet-size-max) {
      margin-bottom: 25px;
      padding-left: 0;
    }

    @media (max-width: $mobile-size-max) {
      max-width: 262px;
      margin-bottom: 32px;

      font-size: 14px;
      line-height: 19px;
    }
  }
}

.form__input-wrapper {
  display: grid;
  max-width: 580px;

  column-gap: 30px;

  grid-template-areas:
    "username userphone"
    "question question"
    "button agreement";
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    width: 100%;
    max-width: calc($tablet-size-max - 100px);
  }

  @media (max-width: $mobile-size-max) {
    grid-template-areas:
      "username"
      "userphone"
      "question"
      "button"
      "agreement";
    grid-template-columns: 1fr;
  }
}

.form__input {
  & input:not([type="checkbox"]),
  & textarea {
    width: 100%;

    line-height: 22px;
    color: $color-alice-blue;

    background-color: $color-pacific-blue;
    border: none;
    border-radius: 3px;

    &::placeholder {
      color: $color-default-white;
    }

    &:hover,
    &:focus {
      background-color: $color-cerulean;
      outline: none;
      box-shadow: 0 0 0 2px $color-java;
    }

    &:active {
      outline: none;
      opacity: 0.5;
    }
  }

  & input:not([type="checkbox"]) {
    width: 100%;
    padding: 15px;
  }

  & textarea {
    width: 100%;
    padding: 23px 15px 20px 15px;

    @media (max-width: $tablet-size-max) {
      padding: 29px 15px 17px 15px;
    }

    @media (max-width: $mobile-size-max) {
      padding-top: 25px;
      padding-bottom: 46px;
    }
  }

  &--username {
    margin-bottom: 19px;

    grid-area: username;

    @media (max-width: $tablet-size-max) {
      width: 100%;
      margin-bottom: 18px;
    }

    @media (max-width: $mobile-size-max) {
      width: 100%;
    }
  }

  &--userphone {
    grid-area: userphone;

    @media (max-width: $tablet-size-max) {
      width: 100%;
    }

    @media (max-width: $mobile-size-max) {
      width: 100%;
      margin-bottom: 18px;
    }
  }

  &--question {
    margin-bottom: 36px;

    grid-area: question;

    @media (max-width: $tablet-size-max) {
      margin-bottom: 32px;
    }

    @media (max-width: $mobile-size-max) {
      margin-bottom: 23px;
    }
  }

  &--button {
    margin-right: 10px;
    padding: 13px;

    font-weight: 700;
    line-height: 19px;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background-color: $color-black-pearl;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    grid-area: button;

    @media (max-width: $tablet-size-max) {
      margin-right: 55px;
      padding-top: 16px;
      padding-bottom: 10px;
    }

    @media (max-width: $mobile-size-max) {
      margin-right: 0;
      margin-bottom: 25px;
    }

    &:hover,
    &:focus {
      color: $color-black-pearl-second;

      background-color: $color-default-white;
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  &--agreement {
    padding-left: 12px;

    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;

    opacity: 0.8;

    grid-area: agreement;

    @media (max-width: $tablet-size-max) {
      padding-left: 0;
    }

    input {
      position: relative;

      display: block;
      width: 21px;
      height: 15px;
      margin-right: 10px;

      border: 1px solid $color-default-white;
      border-radius: 2px;
      cursor: pointer;

      appearance: none;

      @media (max-width: $tablet-size-max) {
        width: 18px;
      }

      @media (max-width: $mobile-size-max) {
        width: 19px;
      }

      &:checked {
        &::after {
          content: "";
        }
      }

      &::after {
        position: absolute;
        top: 14%;
        left: 20%;

        display: block;
        width: 7px;
        height: 5px;

        border: 1px solid $color-default-white;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
      }
    }

    label {
      display: flex;
      align-items: center;
      padding-top: 13px;

      cursor: pointer;

      user-select: none;

      @media (max-width: $tablet-size-max) {
        max-width: 235px;
        padding-top: 8px;
      }

      @media (max-width: $mobile-size-max) {
        padding: 0;
        padding-left: 6px;
      }
    }

    &:hover,
    &:focus {
      color: rgba($color-black-pearl, 0.5);
    }

    &:active {
      opacity: 1;
    }
  }
}
