@import "../variables.scss";

.header {
  position: fixed;
  top: 0;
  z-index: 5;

  width: 100%;

  background-image: $header-gradient;

  @media (max-width: $tablet-size-max) {
    position: absolute;
  }
}

.header__container {
  display: flex;
  align-items: center;
  padding-right: 60px;

  @media (max-width: $desktop-size-max) {
    padding: 0;
  }

  @media (max-width: $tablet-size-min) {
    padding: 0;
  }
}

.header__logo {
  display: block;
  flex-shrink: 0;
}

.header__logo-link {
  align-self: center;
  padding-bottom: 10px;

  user-select: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-size-max) {
    padding-bottom: 8px;
  }

  @media (max-width: $mobile-size-max) {
    width: 35px;
    height: 35px;
  }
}

.header__list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-left: 160px;

  column-gap: 120px;

  @media (max-width: $desktop-size-max) {
    padding-left: 160px;

    column-gap: 118px;
  }

  @media (max-width: $tablet-size-max) {
    justify-content: flex-end;

    column-gap: 0;
  }

  @media (max-width: $mobile-size-max) {
    padding-right: 0;
    padding-left: 0;
  }
}

.header__item {
  padding: 45px 0 55px;

  @media (max-width: $tablet-size-max) {
    padding: 0;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;

  line-height: 18px;
  color: $color-deep-sky-blue;

  @media (max-width: $tablet-size-max) {
    padding: 30px 26px 50px 17px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 20px 20px 30px;
  }

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;

    opacity: 0.8;
  }

  &:active {
    color: $color-cerulean;

    opacity: 0.3;
  }
}

.header__link svg,
.header__link-text {
  color: $color-deep-sky-blue;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;

    opacity: 0.8;
  }

  &:active {
    color: $color-cerulean;

    opacity: 0.3;
  }
}

.header__link-text {
  margin-left: 15px;

  line-height: 18px;
  font-family: $ff-pt-mono;
  color: $color-alice-blue;

  @media (max-width: $tablet-size-max) {
    display: none;
  }
}

.header__btn {
  min-width: 160px;
  margin-right: 59px;
  margin-bottom: 25px;
  margin-left: auto;
  padding: 9px 17px 13px 17px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  white-space: nowrap;

  background-color: $color-black-pearl;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  @media (max-width: $tablet-size-max) {
    display: none;
  }

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: $color-cerulean;

    border: 1px solid $color-cerulean;
  }
}
