@import "../variables.scss";

.header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  min-height: 120px;

  background-image: $header-gradient;

  @media (max-width: $tablet-size-max) {
    position: absolute;

    min-height: 100px;
  }

  @media (max-width: $mobile-size-max) {
    min-height: 70px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-right: 60px;

  @media (max-width: $desktop-size-max) {
    padding: 0;
    padding-top: 22px;
  }

  @media (max-width: $tablet-size-max) {
    padding: 0;
  }
}

.header__logo {
  display: block;
  flex-shrink: 0;
}

.header__logo svg {
  @media (max-width: $desktop-size-max) {
    width: auto;
    height: auto;
  }
}

.header__logo-link {
  align-self: center;
  padding-bottom: 10px;

  user-select: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-size-max) {
    padding-bottom: 8px;
  }

  @media (max-width: $mobile-size-max) {
    width: 35px;
    height: 35px;
  }
}

.header__list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-right: 11%;
  padding-left: 11%;

  column-gap: 23%;

  @media (max-width: $desktop-size-max) {
    padding-right: 13%;
    padding-left: 13%;

    column-gap: 25%;
  }

  @media (max-width: 1700px) {
    padding-right: 12%;
    padding-left: 12%;

    column-gap: 23%;
  }

  @media (max-width: 1500px) {
    padding-right: 11%;
    padding-left: 11%;

    column-gap: 20%;
  }

  @media (max-width: 1300px) {
    padding-right: 10%;
    padding-left: 10%;

    column-gap: 18%;
  }

  @media (max-width: 1100px) {
    padding-right: 9%;
    padding-left: 9%;

    column-gap: 16%;
  }

  @media (max-width: $tablet-size-max) {
    justify-content: flex-end;
    padding-right: 3px;

    column-gap: 0;
  }

  @media (max-width: $mobile-size-max) {
    padding-right: 0;
    padding-left: 0;
  }
}

.header__item {
  //padding: 45px 0 55px;
  padding: 10px 0 10px;

  @media (max-width: $tablet-size-max) {
    padding: 0;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;

  line-height: 18px;
  color: $color-deep-sky-blue;

  @media (max-width: $tablet-size-max) {
    padding: 30px 26px 50px 17px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 20px 20px 30px;
  }

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;

    opacity: 0.8;
  }

  &:active {
    color: $color-cerulean;

    opacity: 0.3;
  }
}

.header__link svg,
.header__link-text {
  color: $color-deep-sky-blue;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;

    opacity: 0.8;
  }

  &:active {
    color: $color-cerulean;

    opacity: 0.3;
  }
}

.header__link-text {
  margin-left: 15px;

  line-height: 18px;
  font-family: $ff-pt-mono;
  color: $color-alice-blue;

  @media (max-width: $tablet-size-max) {
    display: none;
  }
}

.header__btn {
  min-width: 162px;
  max-width: 162px;
  margin-right: 60px;
  margin-bottom: 25px;
  padding: 9px 17px 13px 17px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  word-break: break-all;

  background-color: $color-black-pearl;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  @media (max-width: 1900px) {
    margin-right: 55px;
  }

  @media (max-width: 1800px) {
    margin-right: 50px;
  }

  @media (max-width: 1700px) {
    margin-right: 40px;
  }

  @media (max-width: 1500px) {
    margin-right: 30px;
  }

  @media (max-width: 1300px) {
    margin-right: 20px;
  }

  @media (max-width: 1250px) {
    margin-right: 10px;
  }

  @media (max-width: 1100px) {
    margin-right: 0;
  }

  @media (max-width: $tablet-size-max) {
    display: none;
  }

  &:hover {
    color: $color-cerulean;

    border: 1px solid $color-cerulean;
  }
}
