@import "../variables";

.main-block {
  position: relative;
  z-index: 1;

  margin-bottom: 120px;
  padding: 0 0 20px;
  overflow: hidden;

  background-color: $color-barossa;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-size-min) {
    background: width 100%;
    background-image: $main-block-gradient,
      url("./../img/background-desktop.png");

    @supports (background-image: $main-block-gradient,
      url("./../img/background-desktop.webp")) {
      background: width 100%;
      background-image: $main-block-gradient,
        url("./../img/background-desktop.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: $main-block-gradient,
        url("./../img/background-desktop@2x.png");

      @supports (background-image: $main-block-gradient,
        url("./../img/background-desktop@2x.webp")) {
        background: width 100%;
        background-image: $main-block-gradient,
          url("./../img/background-desktop@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    margin-bottom: 80px;

    background: width 100%;
    background-image: $main-block-gr-tablet,
      url("./../img/background-tablet.png");

    @supports (background-image: $main-block-gr-tablet,
      url("./../img/background-tablet.webp")) {
      background: width 100%;
      background-image: $main-block-gr-tablet,
        url("./../img/background-tablet.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: $main-block-gr-tablet,
        url("./../img/background-tablet@2x.png");

      @supports (background-image: $main-block-gradient,
        url("./../img/background-tablet@2x.webp")) {
        background: width 100%;
        background-image: $main-block-gr-tablet,
          url("./../img/background-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 50px;

    background: width 100%;
    background-image: $main-block-gradient,
      url("./../img/background-mobile.png");

    @supports (background-image: $main-block-gradient,
      url("./../img/background-mobile.webp")) {
      background: width 100%;
      background-image: $main-block-gradient,
        url("./../img/background-mobile.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: $main-block-gradient,
        url("./../img/background-mobile@2x.png");

      @supports (background-image: $main-block-gradient,
        url("./../img/background-mobile@2x.webp")) {
        background: width 100%;
        background-image: $main-block-gradient,
          url("./../img/background-mobile@2x.webp");
      }
    }
  }
}

.main-block__content {
  padding: 305px 0 260px 126px;

  @media (max-width: $tablet-size-max) {
    padding: 180px 0 185px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 150px 0 170px;
  }
}

.main-block__content h2 {
  margin: 0 0 32px;

  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  font-family: $ff-roboto-condensed;
  color: $color-alice-blue;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 0;

    font-size: 64px;
    line-height: 75px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 8px;

    font-size: 36px;
    line-height: 42px;
  }
}

.main-block__content h3 {
  max-width: 620px;
  margin: 0 0 46px;

  font-weight: 400;
  font-size: 22px;
  line-height: 34.1px;
  font-family: $ff-pt-mono;
  color: $color-alice-blue;
  text-transform: lowercase;

  @media (max-width: $mobile-size-max) {
    margin-bottom: 35px;

    font-size: 14px;
    line-height: 21px;
  }
}

.main-block__button {
  display: inline-block;
  max-width: 410px;
  margin: 0;
  padding: 17px 25px;

  word-break: break-all;

  background-color: $color-deep-sky-blue;
  border: none;
  border-radius: 3px;

  user-select: none;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;

    opacity: 0.8;
  }

  &:active {
    color: $color-cerulean;

    background-color: $color-alice-blue-second;
    opacity: 0.3;
  }

  &:disabled {
    color: $color-barossa;

    background-color: $color-silver;
    opacity: 0.5;

    pointer-events: none;
  }

  p {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $color-alice-blue;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media (max-width: $mobile-size-max) {
      font-size: 14px;
      line-height: 16px;
    }

    &:first-child {
      @media (max-width: $mobile-size-max) {
        display: none;
      }
    }

    &:last-child {
      display: none;

      @media (max-width: $mobile-size-max) {
        display: block;
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    margin-top: 11px;
    margin-left: 46px;
  }

  @media (max-width: $mobile-size-max) {
    max-width: 270px;
    margin-left: 0;
    padding: 12px 37px;
  }
}
