@import "../variables";

.products {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 140px;

  background-color: $color-black-pearl;

  h2 {
    margin: 0 0 55px;

    font-size: 36px;
    line-height: 51px;
    font-family: $ff-roboto-condensed;
    color: $color-default-white;

    @media (max-width: $tablet-size-max) {
      margin-bottom: 37px;
    }

    @media (max-width: $mobile-size-max) {
      margin-bottom: 29px;

      font-size: 28px;
      line-height: 39px;
    }
  }

  ul {
    display: grid;
    justify-content: space-between;

    gap: 30px;
    grid-auto-rows: minmax(650px, 1fr);
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(150px, 350px));

    @media (max-width: $tablet-size-max) {
      display: block;

      gap: 30px;
    }

    @media (max-width: $mobile-size-max) {
      gap: 30px;
      grid-template-columns: 1fr;
    }
  }

  p {
    &:nth-child(even) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $tablet-size-max) {
    padding-top: 55px;
    padding-bottom: 76px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 47px;
    padding-bottom: 86px;
  }
}

.products__card--production {
  z-index: 5;

  background-color: $color-barossa;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-size-min) {
    background-image: url("./../img/desktop-card-production.jpg");

    @supports (background-image: url("./../img/desktop-card-production.webp")) {
      background-image: url("./../img/desktop-card-production.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/desktop-card-production@2x.jpg");

      @supports (background-image: url("./../img/desktop-card-production@2x.webp")) {
        z-index: 5;

        background-image: url("./../img/desktop-card-production@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    min-height: 250px;

    background-image: url("./../img/tablet-card-production.jpg");

    @supports (background-image: url("./../img/tablet-card-production.webp")) {
      background-image: url("./../img/tablet-card-production.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/tablet-card-production@2x.jpg");

      @supports (background-image: url("./../img/tablet-card-production@2x.webp")) {
        background-image: url("./../img/tablet-card-production@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    background-image: url("./../img/mobile-card-production.jpg");

    @supports (background-image: url("./../img/mobile-card-production.webp")) {
      background-image: url("./../img/mobile-card-production.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/mobile-card-production@2x.jpg");

      @supports (background-image: url("./../img/mobile-card-production@2x.webp")) {
        background-image: url("./../img/mobile-card-production@2x.webp");
      }
    }
  }
}

.products__card--montage {
  background-color: $color-barossa;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-size-min) {
    background-image: url("./../img/desktop-card-montage.jpg");

    @supports (background-image: url("./../img/desktop-card-montage.webp")) {
      background-image: url("./../img/desktop-card-montage.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/desktop-card-montage@2x.jpg");

      @supports (background-image: url("./../img/desktop-card-montage@2x.webp")) {
        background-image: url("./../img/desktop-card-montage@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    min-height: 250px;

    background-image: url("./../img/tablet-card-montage.jpg");

    @supports (background-image: url("./../img/tablet-card-montage.webp")) {
      background-image: url("./../img/tablet-card-montage.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/tablet-card-montage@2x.jpg");

      @supports (background-image: url("./../img/tablet-card-montage@2x.webp")) {
        background-image: url("./../img/tablet-card-montage@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    background-image: url("./../img/mobile-card-montage.jpg");

    @supports (background-image: url("./../img/mobile-card-montage.webp")) {
      background-image: url("./../img/mobile-card-montage.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/mobile-card-montage@2x.jpg");

      @supports (background-image: url("./../img/mobile-card-montage@2x.webp")) {
        background-image: url("./../img/mobile-card-montage@2x.webp");
      }
    }
  }
}

.products__card--accessories {
  background-color: $color-barossa;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-size-min) {
    background-image: url("./../img/desktop-card-accessories.jpg");

    @supports (background-image: url("./../img/desktop-card-accessories.webp")) {
      background-image: url("./../img/desktop-card-accessories.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/desktop-card-accessories@2x.jpg");

      @supports (background-image: url("./../img/desktop-card-accessories@2x.webp")) {
        background-image: url("./../img/desktop-card-accessories@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    min-height: 250px;

    background-image: url("./../img/tablet-card-accessories.jpg");

    @supports (background-image: url("./../img/tablet-card-accessories.webp")) {
      background-image: url("./../img/tablet-card-accessories.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/tablet-card-accessories@2x.jpg");

      @supports (background-image: url("./../img/tablet-card-accessories@2x.webp")) {
        background-image: url("./../img/tablet-card-accessories@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    background-image: url("./../img/mobile-card-accessories.jpg");

    @supports (background-image: url("./../img/mobile-card-accessories.webp")) {
      background-image: url("./../img/mobile-card-accessories.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/mobile-card-accessories@2x.jpg");

      @supports (background-image: url("./../img/mobile-card-accessories@2x.webp")) {
        background-image: url("./../img/mobile-card-accessories@2x.webp");
      }
    }
  }
}

.products__mobile-hidden {
  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.products__desctablet-hidden {
  @media (max-width: $desktop-size-max) {
    display: none;
  }

  @media (max-width: $tablet-size-max) {
    display: none;
  }

  @media (max-width: $mobile-size-max) {
    display: block;
  }
}

.products__container {
  padding-left: 25px;
}

.products__card {
  position: relative;

  display: block;
  height: 100%;

  @media (max-width: $tablet-size-max) {
    margin-top: 30px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.products__card h3 {
  position: relative;
  z-index: 5;

  max-width: 240px;
  margin: 0;
  padding: 46px 40px;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  @media (max-width: $tablet-size-max) {
    padding: 37px 45px 0 45px;
  }

  @media (max-width: $mobile-size-max) {
    width: 190px;
    padding: 26px 28px 0 29px;

    font-size: 18px;
  }
}

.products__image-wrapper {
  position: absolute;
  top: 0;

  display: block;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    min-height: 650px;

    object-fit: cover;

    @media (max-width: $tablet-size-max) {
      min-height: 250px;
    }

    @media (max-width: $mobile-size-max) {
      min-height: 250px;
    }
  }
}

.products__icon {
  position: absolute;
  right: 2px;
  bottom: 0;

  width: 60px;
  height: 60px;

  color: $color-default-white;

  @media (max-width: $mobile-size-max) {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet-size-max) {
    position: absolute;
    right: -2px;
    bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: $color-deep-sky-blue;
    border-radius: 3px 0 0;
    opacity: 0.8;
  }

  &:active {
    background-color: $color-deep-sky-blue;
    border-radius: 3px 0 0;
    opacity: 0.3;
  }
}
