@import "../variables";

.social-list {
  display: grid;
  max-width: 180px;
  padding-left: 15px;

  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-size-max) {
    justify-content: center;
    align-items: center;
    align-self: start;
    max-width: 350px;
    margin-bottom: 5px;
    margin-left: 0;
    padding-top: 10px;
    padding-left: 0;

    gap: 25px;
    row-gap: 10px;
  }

  @media (max-width: $mobile-size-max) {
    margin: 0 auto;
    padding-top: 10px;
  }
}

.social-list__link svg {
  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
  }

  &:active {
    color: $color-picton-blue;
  }
}
