@import "../variables.scss";

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1270px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;

  @media (max-width: $tablet-size-max) {
    max-width: 1023px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: $mobile-size-max) {
    max-width: 767px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
